# Dependencies
node_modules/

# Next.js
frontend/.next/
frontend/out/

# Environment variables
.env
.env.local
.env*.local
.env.production
*.env.production
!*.env.example
!*.env.production.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build outputs
*.log
dist/
build/

# Go
backend/tmp/

# Y-Websocket server
y-websocket-server/node_modules/

# Scripts
scripts/node_modules/
scripts/package-lock.json
scripts/welcome_snapshot_go.txt

# My doc
scripts/*GUIDE*.md
*GUIDE*.md
!README.md
DEPLOYMENT.md
ARCHITECTURE.md
PROJECT_REPORT.md
